<style>
  .stats span {
    float:right;
    margin-top: 5px;
  }
  .game-container {
    padding: 20px 10px 10px 2px;
    margin: 0 auto;
  }
  .solved {
    margin-top: 5px;
  }
  .solved .profile div {
    display: inline-block;
  }
  .solved .profile {
    display: inline-block;
    position: relative;
  }
  .solved .profile {
    font-size: 8px;
  }
  .solved .profile .count {
    position: absolute;
    bottom: 3px;
    right: 4px;
    font-weight: bold;  
    background-color: black;
    color: white;
  }
  
</style>
<script>
  <% include partials/keyboard-input.js %>
  <% include partials/game-board.js %>
</script>
<div class="game-container full-width">
  <% include partials/game-board.ejs %>
  <div class="stats clear">
    <div class="solved">
      <% if (imageMetadata.solvedBy) { %>
        <% imageMetadata.solvedBy.forEach(function(user) { %>
          <div class="profile"> 
            <% if (user.profilePic) { %>
              <img src="<%= user.profilePic %>">
            <% }%>
              <span class="count"><%= user.stepCount %></span>
          </div>
        <% })%>
      <% } %>
    </div>
  </div>
  <% include partials/comments.ejs %> 
</div>


