<style>
  .game-container {
    padding: 0px 10px 10px 2px;
    margin: 0 auto;
  }
  .solved {
    margin-top: 5px;
  }
  .solved .profile div {
    display: inline-block;
  }
  .solved .profile {
    display: inline-block;
    position: relative;
  }
  .solved .profile {
    font-size: 8px;
  }
  .solved .profile .count {
    position: absolute;
    bottom: 3px;
    right: 4px;
    font-weight: bold;  
    background-color: black;
    color: white;
  }
  .uploader-container {
    margin: 10px auto;
  }
  .uploader {
    float: left;
  }
  .uploader .profile {
    display: inline-block;
  }
  .profile img {
    width: 25px;
    height: 25px;
  } 
  .adds {
    text-align: center;
    margin-top: 50px;  
  }
</style>
<script>
  <% include partials/keyboard-input.js %>
  <% include partials/game-board.js %>
</script>
<div class="uploader-container full-width clear">
<div class="uploader">
  <% if (imageMetadata && imageMetadata.uploader) { %>
    <div class="profile"> 
      <% if (imageMetadata.uploader.profilePic) { %>
        <img src="<%= imageMetadata.uploader.profilePic %>">
      <% }%>
      <%= imageMetadata.uploader.displayName %>
    </div>
  <% } %>
</div>
</div>
<div class="game-container full-width">
  
  <% include partials/game-board.ejs %>
  <div class="stats clear">
    <div class="solved">
      <% if (imageMetadata && imageMetadata.solvedBy) { %>
        <% imageMetadata.solvedBy.forEach(function(user) { %>
          <div class="profile"> 
            <% if (user.profilePic) { %>
              <img src="<%= user.profilePic %>">
            <% }%>
              <span class="count"><%= user.stepCount %></span>
          </div>
        <% })%>
      <% } %>
    </div>
    
  </div>
  <% include partials/comments.ejs %> 
</div>
<div class="adds">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Mobile banner -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="ca-pub-9915601653674290"
       data-ad-slot="7175013961"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>



