<style>
  .stats span {
    float:right;
    margin-top: 5px;
  }
  .game-container {
    padding: 20px 10px 10px 2px;
    margin: 0 auto;
  }
  .header {
    position: relative;
    background-color: black;
    height: 30px;
  }
</style>
<div class="header">
  <% include partials/header-logo.ejs %>
</div>
<div class="game-container full-width">
  <% include partials/game-board.ejs %>
  <div class="stats clear">
    <span>Comment 12</span>
    <% imageMetadata.solvedBy.forEach(function(profile) { %>
      <span><%= profile.name %>  </span>
    <% })%>
  </div>
  <% include partials/comments.ejs %> 
</div>


