<div class="game-container full-width">
  <% include partials/game-board.ejs %>
  <div class="stats clear">
    <span>Like 22</span>
    <span>Comment 12</span>
  </div>
  <% include partials/comments.ejs %> 
</div>


