<div class="game-container full-width">
  <% include partials/game-board.ejs %>
  <div class="stats clear">
    <span>Comment 12</span>
    <% imageMetadata.solvedBy.forEach(function(profile) { %>
      <span><%= profile.name %>  </span>
    <% })%>
  </div>
  <% include partials/comments.ejs %> 
</div>


