<style>
  .hot-container {
    margin: 10px auto;
    width: 200px;
  }
  .hot-container a {
    display: block;
    margin: 10px;
    width: 100px;
  }
  .canvas {
    position: relative;
    cursor: pointer;  
    margin: 20px;  
  }
</style>
<div class="hot-container">
  <% hots.forEach(function(hot) { %>
    <hot-card image-id="<%= hot.id %>" hot="<%= JSON.stringify(hot) %>"></hot-card>
  <% }) %>
</div>
