<% include partials/logo.ejs %>

<% include partials/uploder.ejs %>
<style>
  .links {
    margin: 0 auto;
    width: 300px;
    display: block;
    margin-top: 30px;
    text-align: center;  
    font-size: 1.5em;
    font-weight: bolder;  
  }
  .links img {
    height: 100px;
    display: block;  
  }
  .link a {
    padding: 0 10px;
    display: block;
  }
  .links div {
    margin: 15px;
    display: inline-block;
  }
  .survey {
    color: #3658FB;
    position: fixed;
    bottom: 3px;
    right: 3px;
  }
  .survey:visited {
    color: #3658FB;
  }
</style>
<div class="links"">
  <div>
    <img src="/img/hot_picture.png" />
    <a class="hot" href="/hot"> 
      最热拼图 
    </a>
  </div>
  <div>
    <img src="/img/my_picture.png" />
    <a href="/user/<% if (user) {%><%= user.id%><%}%>">
        我的拼图
    </a>
  </div>
</div>
<a class="survey" href="https://docs.google.com/forms/d/1r4sBBhZIcAe6frEs9cv8fpo_tyFY6jp5hUVCPaUXp9w/viewform?edit_requested=true">意见反馈</a>


