
<style>
  .index-buddy {
    margin: 0 auto;
    display: block;  
    width: 200px;  
    position: relative; 
    top: 25px;
  }
</style>
  <img class="index-buddy" src="/img//index-buddy.png">
  <% include partials/uploder.ejs %>
<style>
  .links {
    margin: 0 auto;
    width: 300px;
    display: block;
    margin-top: 30px;
  }

  .survey {
    color: #3658FB;
    position: fixed;
    bottom: 3px;
    right: 3px;
  }
  .survey:visited {
    color: #3658FB;
  }
</style>
<div class="links"">
  <index-button 
    src="/img/hot_picture.png"
    href="/hot"
    button-text="最热拼图"></index-button>
  <index-button 
    src="/img/my_picture.png"
    href="/user/<% if (user) {%><%= user.id%><%}%>"
    button-text="我的拼图"></index-button>
</div>

