<% include partials/logo.ejs %>

<% include partials/uploder.ejs %>
<style>
  .links {
    margin: 0 auto;
    width: 300px;
    display: block;
    margin-top: 30px;
    text-align: center;  
  }
  .link a {
    padding: 0 10px;
  }
</style>
<span class="links"">
<a class="recent" href="/recent"> 最新上传 </a>
<a class="recent" href="/hot"> 最热拼图 </a>
<% if (user) {%>
  <a href="/user/<%= user.id%>">
    我的拼图
  </a>
<% } %>
</span>

