<!DOCTYPE HTML>
<html xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="wb:webmaster" content="b9939bfc9b1be544" />
    <meta name="description" content="图方是一个有趣的图片社交网站，用户可一尝试通过移动方格拼出好友上传的图片。">
    <% if (typeof title !== 'undefined') { %>
      <title><%= title %></title>
    <% } else { %>
      <title>图方</title>
    <% } %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <% include partials/main.css %>

    <script>
      var appConfig = {};
    <% if (user) { %> 
      appConfig.loggedIn = true;
    <% } else { %>
      appConfig.loggedIn = false;
    <% } %>
    </script>
  </head>
  <body>
    <% if (typeof imageId !== 'undefined') { %>
      <div style="margin:0 auto;display:none;height:300px;width:300px;">
        <img id='wx_logo' 
       src="http://res.cloudinary.com/sunnydaytech/image/upload/c_fill,h_300,w_300/<%= imageId%>" 
       >
      </div>
    <% } %>
    <% include partials/header.ejs %>
    <%- body -%>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
