<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="wb:webmaster" content="94af20d1b0c78b5a" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <% include partials/main.css %>
  </head>
  <body>
    <%- body -%>
  </body>
</html>
