<style>
  .recents-container {
    margin: 10px auto;
    width: 200px;
  }
  .recents-container a {
    display: block;
    margin: 10px;
    width: 100px;
  }
  .canvas {
    position: relative;
    cursor: pointer;  
    margin: 20px;  
  }
</style>
<script>
  <% include partials/game-board.js %>
</script>
<div class="recents-container">
  <% recents.forEach(function(recent) { %>
    <div id="<%= recent.id%>" imageId="<%= recent.id%>" class="canvas">  
        <!-- canvas to draw pictures --> 
    </div>
    <script>
      var canvasEl = document.getElementById('<%= recent.id %>');
      var gameBoard = new GameBoard(canvasEl);
      gameBoard.drawCanvas();
      canvasEl.onclick = function() {
        window.location.href = '<%= recent.url %>';
      };
    </script>
  <% }) %>
  <% include recent.js %>
</div>
