<style>
  .recents-container {
    margin: 0 auto;
    width: 200px;
  }
  a {
    display: block;
    margin: 10px;
    width: 100px;
  }
</style>
<div class="recents-container">
  <% recents.forEach(function(recent) { %>
    <a href=<%= recent.url %>> <%= recent.id %> </a>
  <% }) %>
</div>
