<link rel="import" href="../polymer/polymer.html">

<dom-module id="header-profile">
  <style>
    :host {
      display: inline-block;
    }
    .profile {
      height: 40px;
      display: inline-block;
      position: relative;
    }
    .profile a {
      display: inline-block;
    }
    .profile img {
      height: 30px;
      display: inline-block;
      position: relative;
    }
    .profile span {
      display: inline-block;
      position: relative;  
      bottom: 12px;
    }

    #loginButton {
      display: inline-block;
      position: relative;
      bottom: 12px;
    }

    #loginMenues {
      @apply(--layout-vertical);
      @apply(--layout-center-justified);
      position: fixed;
      min-height: 70px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      border: 1px solid;  
      padding: 5px;
      background-color: white;
      z-index: 100;
    }
    #loginMenues p {
      margin: 8px auto;
      font-size: 1.2em;
    }
    #close {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .login-icons {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
      width: 100%;  
    }
    .login-icons index-button {
      padding: 5px;
    }
    #profilePicContainer {
      position: relative;
      display: inline-block;
    }
    #notificationCount {
      z-index: 10;
      background-color: rgba(253, 26, 26, 0.7);
      border-radius: 50%;
      height: 10px;
      width: 10px;
      text-align: center;
      font-size: 0.8em;
      color: #FB1515;
      position: absolute;
      right: 1px;
      top: 1px;
      font-size: 1.1em;
      font-weight: bold;
    }
  </style> 
  <template>
    <div class="profile">
      <a href="/#notification">
        <div id="profilePicContainer">
          <img src="{{user.profilePic}}">
        </div>
        <span>{{user.displayName}}</span>
        <div id="notificationCount" class="hidden"></div>
      </a>
    </div>
    <span id="loginButton" on-click="showLoginMenues">
        | Login
    </span>

    <div id="loginMenues" class="hidden">
      <div id="close" on-click="hideLoginMenues">X</div>
      <p>登陆</p>
      <div class="login-icons">
        <index-button 
          src="/img/twitter.jpg"
          href="/auth/twitter"
          button-text="Twitter"></index-button>
        <index-button 
          src="/img/facebook.jpg"
          href="/auth/facebook"
          button-text="Facebook"></index-button>
        <index-button 
          src="/img/weibo.jpg"
          href="/auth/weibo"
          button-text="Weibo"></index-button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'header-profile',
      properties: {
        displayName: String,
        profilePic: String,
        user: Object
      },
      ready: function() {
        if (window.appConfig.user) {
          this.$.loginButton.classList.add('hidden');
          this.user = window.appConfig.user;
        } else {
          this.user = {
            displayName: 'Guest',
            profilePic: '/img/guest-profile.png'
          }
        }
        if (this.user.notificationCount) {
          this.$.notificationCount.classList.remove('hidden');
        }
      },

      showLoginMenues: function() {
        this.$.loginMenues.classList.remove('hidden');
      },
      hideLoginMenues: function() {
        this.$.loginMenues.classList.add('hidden');
      }
    });
  </script>
</dom-module>
