<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="/components/game-board.html">

<dom-module id="hot-card">
  <style>
    :host{
      display: inline-block;
      padding: 20px;
      -webkit-box-shadow: 3px 4px 14px 3px rgba(179,179,179,1);
      -moz-box-shadow: 3px 4px 14px 3px rgba(179,179,179,1);
      box-shadow: 3px 4px 14px 3px rgba(179,179,179,1);
      margin: 13px;
      border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border: 0px solid #000000;
    }
    span {
      display: inline-block;
    }
    #gameContainer {
      display: inline-block;
    }
  </style>
  <template>
  <!--
  <span>{{hot.id}}</span>
  <span>{{hot.url}}</span>
  -->
  <div>
    <span>FirstName LastName</span>
  </div>
  <div id="gameContainer">
  </div>
    <ol>
      <li>
        comment 1
      </li>
      <li>
        comment 1
      </li>
    </ol>

  </template>
  <script>
    Polymer({
      is: 'hot-card',
      properties: {
        imageId: String,
        hot: Object
      },
      attached : function() {
        var gameBoardEl = document.createElement('game-board');
        gameBoardEl.id = this.hot.id;
        gameBoardEl.style.width = (this.offsetWidth - 80) + "px";
        gameBoardEl.style.margin = '20px';
        this.$.gameContainer.appendChild(gameBoardEl);
      }
    });
  </script>
</dom-module>
