<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="/components/game-board.html">

<dom-module id="hot-card">
  <style>
    :host{
      display: inline-block;
      padding: 20px;
      -webkit-box-shadow: 3px 4px 14px 3px rgba(179,179,179,1);
      -moz-box-shadow: 3px 4px 14px 3px rgba(179,179,179,1);
      box-shadow: 3px 4px 14px 3px rgba(179,179,179,1);
      margin: 13px;
      border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border: 0px solid #000000;
    }
    #gameContainer {
      display: inline-block;
    }
    .profile {
      height: 40px;
    }
    .profile img {
      border-radius: 50%;
      height: 40px;
    }
    .profile span {
      display: inline-block;
      height: 40px;
      line-height: 40px;
    }
    .profile {
      display: inline-block;
      position: relative;  
    }
    #startGame {
      display: inline-block;
      float: right;
      height: 40px;
      line-height: 40px;
      background-color: #ABCA74;
      color: white;
      padding: 0 15px;
    }
    #metaBar {
      height: 40px;
    }
    hr {
      width: 100%;
      color: #E0E0E0;
      border: solid 1px;
    }
    .step-count {
      text-align: center;
      color: gray;
      font-size: 0.9em;
      position: relative;
      top: -10px;
    }
    #rank .profile {
      padding: 0 6px;
    }
    #fullRank {
      display: inline-block;
      color: gray;
      float: right;
    }
    #fullRank img {
      height: 30px;
      position: relative;
      top: -5px;
    }
    #fullRank p {
      position: relative;
      top: -5px;
    }
  </style>
  <template>
  <!--
  <span>{{hot.id}}</span>
  <span>{{hot.url}}</span>
  -->
  <div on-click="handleCardClicked">
    <div id="metaBar">
      <div class="profile">
        <img src="{{hot.imageMetadata.uploader.profilePic}}"></img>
        <span>{{hot.imageMetadata.uploader.displayName}}</span>
      </div>
      <span id="startGame" on-click="handleCardClicked">开始拼图</span>
    </div>
    <div id="gameContainer">
    </div>
    <div id="rank">
      <template is="dom-repeat" items={{hot.imageMetadata.solvedBy}}>
        <div class="profile">
          <img src="{{item.profilePic}}"></img>
          <p class="step-count"><span>{{item.stepCount}}</span>步</p>
        </div>
      </template>
      <div id="fullRank">
        <img src="/img/badge.png"></img>
        <p>排行榜</p>
      </div>
    </div>
    <hr>
    <ol>
      <li>
        comment 1
      </li>
      <li>
        comment 1
      </li>
    </ol>
  </div>

  </template>
  <script>
    Polymer({
      is: 'hot-card',
      initialized: false,
      properties: {
        imageId: String,
        hot: Object
      },
      attached : function() {
        if (this.initialized) {
          return this;
        }
        var gameBoardEl = document.createElement('game-board');
        gameBoardEl.id = this.hot.id;
        gameBoardEl.style.width = (this.offsetWidth - 80) + "px";
        gameBoardEl.style.margin = '20px';
        this.$.gameContainer.appendChild(gameBoardEl);
        this.initialized = true;
      },
      handleCardClicked: function() {
        window.location.href = '/#game?id=' + this.hot.id;
      }
    });
  </script>
</dom-module>
