<link rel="import" href="../polymer/polymer.html">

<dom-module id="index-button">
  <style>
    :host {
      text-align: center;  
      font-size: 1.3em;
      display: inline-block;
    }
    img {
      height: 90px;
      display: block;  
      margin: 0 auth; 
    }
    span {
      padding: 5px 5px;
      display: block;
    }
    div {
      margin: 10px;
      display: inline-block;
    }
    .img-container {
      margin: 0 auto;
    }
  </style>

  <template>
    <div on-click="handleOnClick">
      <div class="img-container">
      <img src="{{src}}" />
      </div>
      <span>{{buttonText}}</span>
    </div>
  </template>

  <script>
    Polymer({
      is: 'index-button',
      properties: {
        buttonText: String,
        href: String
      },
      ready: function() {
      },
      handleOnClick: function() {
        window.location.href = this.href;
      }
    });
  </script>
</dom-module>
