<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/components/pages/page-index.html">
<link rel="import" href="/components/pages/page-hot.html">
<link rel="import" href="/components/pages/page-my-pics.html">
<dom-module id="pic-app">
  <style>
  </style>
  <template>
    <div>
      <app-header>
        <a>
          <span class="loginButton">
            | Login
          </span>
        </a>
      </app-header>
      <div id="container"></div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'pic-app',
      ready: function() {
        var context = this;
        window.onhashchange = function() {
          var elName;
          var hash = window.location.hash;
          context._loadPage(hash);
        };
        this._loadPage(window.location.hash);
      },
      _loadPage: function(hash) {
        var contentEl = this.$.container.childNodes[0];
        if (!hash || hash.length <= 1) {
          elName = 'page-index';
        } else {
          elName = 'page-' + hash.substr(1);
        }
        var newContentEl = document.createElement(elName);
        if (contentEl) {
          this.$.container.replaceChild(newContentEl, contentEl);
        } else {
          this.$.container.appendChild(newContentEl);
        }
      }
    });
  </script>
</dom-module>
