<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/components/pages/page-index.html">
<link rel="import" href="/components/pages/page-hot.html">
<link rel="import" href="/components/pages/page-my-pics.html">
<link rel="import" href="/components/pages/page-game.html">
<dom-module id="pic-app">
  <style>
  </style>
  <template>
    <div>
      <app-header
        user={{user}} 
      >
      </app-header>
      <div id="container"></div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'pic-app',
      properties: {
        user: Object
      },
      ready: function() {
        var context = this;
        window.onhashchange = function() {
          var elName;
          var hash = window.location.hash;
          context._loadPage(hash);
        };
        this._loadPage(window.location.hash);
      },
      _loadPage: function(hash) {
        var contentEl = this.$.container.childNodes[0];
        if (hash && hash.length >= 1) {
          hash = hash.substr(1);
        }
        var qIdx = hash.indexOf('?');
        if (!hash || hash.length <= 1 || qIdx == 0) {
          elName = 'page-index';
        } else {
          if (qIdx >= 0) {
            elName = 'page-' + hash.substr(0, qIdx);
          } else {
            elName = 'page-' + hash;
          }
        }
        var args = {};
        if (qIdx >= 0) {
          var argsStr = hash.substr(qIdx + 1).split('&');
          console.log('argsStr is ' + argsStr);
          for (var argIdx in argsStr) {
            var arg = argsStr[argIdx].split('=');
            args[arg[0]] = arg[1];
          }
        }
        var newContentEl = document.createElement(elName);
        newContentEl.args = args;
        console.log('args are ' + JSON.stringify(args));
        if (contentEl) {
          this.$.container.replaceChild(newContentEl, contentEl);
        } else {
          this.$.container.appendChild(newContentEl);
        }
      }
    });
  </script>
</dom-module>
