
module.exports = {
  port: 8080,
  host: 'localhost',
  env: 'dev',
  authConfig: {
    twitter: {
      consumerKey: 'CONSUMER_KEY',
      consumerSecret: 'CONSUMER_SECRET'
    },
    facebook: {
      clientID: 'CONSUMER_KEY',
      clientSecret: 'CONSUMER_SECRET'
    }
  }
};


