* {
  margin: 0;
  padding: 0;
  border: 0;
} 

body {
  background: grey;
}
#canvas {
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 3px 7px 38px -6px rgba(10,9,10,0.93);
  -moz-box-shadow: 3px 7px 38px -6px rgba(10,9,10,0.93);
  box-shadow: 3px 7px 38px -6px rgba(10,9,10,0.93);
}

.block {
  background-repeat: no-repeat;
  float: left;
  position: absolute;
  border-radius: 4px; 
  border: solid 2px;
}

.game-container {
  width: 284px;
  padding: 20px 10px 10px 2px;
  margin: 0 auto;
}

.empty {
  background: rgb(179, 175, 175);
}
.clear::after {
  clear: both;
  content: "";
  display: table;
}
.stats span {
  float:right;
  margin-top: 5px;
}

.profile {
  margin-top: 20px;
  height: 25px
  font-size: 25px;
}
.profile img {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: 0;
}


@media (min-width: 600px) {
  #canvas {
    height: 500px;
    width: 500px;
  }

  .game-container {
    height: 514px;
    width: 504px;
  }
}
