* {
  border: solid 1px;
  margin: 0;
  padding: 0;
} 

#canvas {
  position: relative;
}

.block {
  background-repeat: no-repeat;
  float: left;
  position: absolute;
}

.empty {
  background: grey;
}

