* {
  margin: 0;
  padding: 0;
  border: 0;
} 

body {
  width: 100%;
}
.hidden {
  display: none;
}
.button {
  border: 1px solid;

}
#canvas {
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 3px 7px 38px -6px rgba(10,9,10,0.93);
  -moz-box-shadow: 3px 7px 38px -6px rgba(10,9,10,0.93);
  box-shadow: 3px 7px 38px -6px rgba(10,9,10,0.93);
}

.block {
  background-repeat: no-repeat;
  float: left;
  position: absolute;
  border-radius: 4px; 
  border: solid 2px;
}
.full-width {
  width: 284px;
}

.game-container {
  padding: 20px 10px 10px 2px;
  margin: 0 auto;
}

.empty {
  background: rgb(179, 175, 175);
}
.clear::after {
  clear: both;
  content: "";
  display: table;
}
.stats span {
  float:right;
  margin-top: 5px;
}

.comment {
  border: solid 1px;
  list-style-type: none;
  list-style-position: inside;
  padding: 2px;
  margin-top: 4px;
  border-color: rgb(226, 217, 217) rgba(194, 180, 180, 0.12) rgba(214, 232, 214, 0.01) rgb(203, 200, 200);
}
.comment-content {
  float: left;
  display: inline;
  width: 100%;
}
.comments .comment .profile {
  float: right;
}

.profile {
  height: 25px
  font-size: 25px;
}
.profile img {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: 0;
}

.comment-box {
  position: fixed;
  padding: 4px;
  bottom: 0;
  border: solid 1px;
  border-top-color: black;
}
.comment-box * {
}
.comment-box .header .profile {
  float: left;
}
.comment-box .header .submit {
  float: right;
}
.comment-box .comment-input {
  width: 100%;
  border: solid 1px;
  border-color: rgb(124, 102, 102);
}
.action-button {
  background-color: rgb(14, 46, 210);
  color: white;
  padding: 4px;
  border-radius: 3px;
  margin: 5px;
}

@media (min-width: 600px) and (min-height: 700px) {
  .full-width {
    width: 600px;
  }
}
