<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/components/hot-card.html">

<dom-module id="page-hot">
  <style>
    :host {
      display: block;
    }
    ::-webkit-scrollbar { 
      display: none; 
    }
    .hot-card-el {
      display: inline-block;
      height: 500px;
      width: 400px;
    }
    #picsContainer {
      overflow: auto;
      white-space:nowrap;
      width: 540px;
    }
  </style>
  <template>
    <iron-ajax
      auto
      url="/_/hot"
      params='{}'
      handle-as="json"
      on-response="handleHotResponse"
      debounce-duration="300"></iron-ajax>
    <div id="picsContainer">
    </div>
  </template>
  <script>
    Polymer({
      is: 'page-hot',
      handleHotResponse: function(event) {
        var context = this;
        event.detail.response.forEach(function(resp) {
          var hotCardEl = document.createElement('hot-card');
          hotCardEl.hot = resp;
          hotCardEl.style.width = "400px";
          hotCardEl.style.height = "500px";
          context.$.picsContainer.appendChild(hotCardEl);
        });
      }
    });
  </script>
</dom-module>
