<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/components/index-button.html">
<link rel="import" href="/components/touch-controller.html">

<dom-module id="page-game">
  <style>
    :host {
      display: block;
    }
    #gameContainer {
      margin: 0 auto;
      max-width: 550px;
    }
    .step-count {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
      margin: 25px 0 25px;
    }
    .buttons {
       @apply(--layout-horizontal);
       @apply(--layout-center-justified);
    }
  </style>
  <template>
    <span class="step-count">已用xx步</span>
    <touch-controller id="gameContainer">
    </touch-controller>
    <div class="buttons">
      <index-button 
          src="/img/hint.png"
          button-text="原图提示">
      </index-button>
      <index-button 
          src="/img/restart.png"
          button-text="重玩一次">
      </index-button>

      <index-button 
          src="/img/give-up.png"
          button-text="我要放弃">
      </index-button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'page-game',
      initialized: false,
      properties: {
        args: Object
      },
      attached: function() {
        if (this.initialized) {
          return;
        }
        // use async to make sure the width is correctly mesured.
        this.async(function() {
          var gameBoardEl = document.createElement('game-board');
          gameBoardEl.id = this.args.id;
          var width = 550;
          console.log('current width is ' + this.offsetWidth);
          if (this.offsetWidth < width) {
            width = this.offsetWidth;
          }
          gameBoardEl.style.width = (width - 80) + "px";
          gameBoardEl.style.margin = '0 40px';
          gameBoardEl.classList.add('controlled');

          Polymer.dom(this.$.gameContainer).appendChild(gameBoardEl);
          gameBoardEl.shuffle(1, 1000);
          this.initialized = true;
        }, 100);
      }
    });
  </script>
</dom-module>
