<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/components/hot-card.html">

<dom-module id="page-hot">
  <style>
    :host {
      display: block;
    }
    ::-webkit-scrollbar { 
      display: none; 
    }
    .hot-card-el {
      display: inline-block;
      height: 500px;
      width: 400px;
    }
    #picsContainer {
      overflow: auto;
      white-space:nowrap;
      width: 100%;
    }
    hot-card {
      width: 320px;
    }
  </style>
  <template>
    <iron-ajax
      id="loader"      
      url="/_/hot"
      auto
      params='{}'
      handle-as="json"
      last-response="{{hotCards}}"
      debounce-duration="300"></iron-ajax>
    <div id="picsContainer">
      <template is="dom-repeat" items="{{hotCards}}">
        <hot-card hot="[[item]]">
        </hot-card>
      </template>
    </div>
  </template>
  <script>
    Polymer({
      is: 'page-hot'
    });
  </script>
</dom-module>
