<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/iron-ajax/iron-ajax.html">

<dom-module id="page-notification">
  <style>
    .notification-item {
      @apply(--layout-horizontal);
      height: 50px;
      border-bottom: solid 1px #E0DBDB;
      margin: 15px 10px;
      padding-bottom: 5px;
    }
    .content {
      @apply(--layout-flex);
      margin-left: 5px;
    }
    .notification-item .profile {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: inline-block;
      padding-right: 3px;
    }
    .game-image {
      height: 40px;
    }
    .notification-item .content {
      display: inline-block;
      padding-left: 5px;
    }
  </style>
  <template>
    <iron-ajax
      id="loader"      
      url="/_/notification"
      auto
      params='{}'
      handle-as="json"
      on-response="handleNotification"
      debounce-duration="300"></iron-ajax>
      <ul>
        <template is="dom-repeat" items="{{notification.notifications}}">
          <li class="notification-item" on-click="onNotificationClicked">
            <img class="profile" src="{{item.sender.profilePic}}">
            <div class="content">
              <p>
              <span>{{item.sender.displayName}}</span><span>{{ notificationTitle(item) }}</span>
              </p>
              <p>{{notificationContent(item)}}</p>
            </div>
            <img class="game-image" src="{{ _getResizeImageUrl(item.imageId, 40) }}">
          </li>
        </template>
      </ul>
  </template>
  <script>
    Polymer({
      is: 'page-notification',
      properties: {
        notification: {
          type: Object,
          notify: true
        }
      },
      notificationTitle: function(notification) {
        if (notification) {
          if (notification.type == 2) { // comment
            return " 评论了你的图片";
          } else {
            return ' 拼出了你的图片';
          }
        }
      },
      handleNotification: function(e) {
        this.notification = e.detail.response;
      },
      onNotificationClicked: function(e) {
        var notification = e.model.item;
        var href = '/#game?id=' + notification.imageId;
        if (notification.type == 2) {
          href = '/#comments?id=' + notification.imageId;
        }
        window.location.href = href;
      },
      notificationContent: function(notification) {
        if (notification.type == 2) {
          return '"' + notification.comment + '"';
        }
        return ' ';
      },
      _getResizeImageUrl: function(imageId, size) {
         return 'http://res.cloudinary.com/sunnydaytech/image/upload/c_fill,h_' + 
           size + ',w_' + size + '/' + imageId;
      },

    });
  </script>
</dom-module>
