<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/components/index-button.html">
<link rel="import" href="/components/touch-controller.html">

<dom-module id="page-game">
  <style>
    :host {
      display: block;
    }
    #gameContainer {
      margin: 0 auto;
      max-width: 550px;
    }
    .step-count {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
      margin: 15px 0 0;
    }
    .buttons {
       @apply(--layout-horizontal);
       @apply(--layout-center-justified);
    }
    #countNumber {
      font-size: 2.5em;
      color: grey;
      display: inline-block;
      position: relative;
      padding: 0 4px;
      top: -20px;
    }
  </style>
  <template>
    <div on-move="handleMove">
      <div class="step-count">已用<span id="countNumber">0</span>步</div>
      <touch-controller id="gameContainer">
      </touch-controller>
    </div>
    <div class="buttons">
      <index-button 
          src="/img/hint.png"
          button-text="原图提示">
      </index-button>
      <index-button 
          src="/img/restart.png"
          button-text="重玩一次">
      </index-button>

      <index-button 
          src="/img/give-up.png"
          button-text="我要放弃">
      </index-button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'page-game',
      initialized: false,
      stepCount: 0,
      properties: {
        args: Object
      },
      attached: function() {
        if (this.initialized) {
          return;
        }
        // use async to make sure the width is correctly mesured.
        this.async(function() {
          var gameBoardEl = document.createElement('game-board');
          gameBoardEl.id = this.args.id;
          var width = 550;
          if (this.offsetWidth < width) {
            width = this.offsetWidth;
          }
          gameBoardEl.style.width = (width - 80) + "px";
          gameBoardEl.style.margin = '0 40px';
          // So that the gameBoardEl will be notified.
          gameBoardEl.classList.add('controlled');

          Polymer.dom(this.$.gameContainer).appendChild(gameBoardEl);
          gameBoardEl.shuffle(100, 1000);
          this.initialized = true;
        }, 100);
      },
      handleMove: function() {
        this.stepCount += 1;
        this.$.countNumber.textContent = this.stepCount;
      }
    });
  </script>
</dom-module>
