<style>
.comment {
  border: solid 1px;
  list-style-type: none;
  list-style-position: inside;
  margin-top: 4px;
  padding: 2px 10px;
  border-color: rgb(226, 217, 217) rgba(194, 180, 180, 0.12) rgba(214, 232, 214, 0.01) rgb(203, 200, 200);
}
.comment-content {
  float: left;
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
  margin: 1px 0 5px;    
}
.comment-header {
  margin-top: 8px;
}
.comment .profile {
  float: right;
  overflow: hidden;  
}
.comment .profile {
  height: 25px;
  width: 100px;
  font-size: 15px;
}
.comment .profile img {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: 0;
}
</style>
<ul class="comments">
  <div class="comment-header">
    <% if (user) { %>
      <% include comment-inbox.ejs %>    
    <% } else { %>
       使用<% include login-buttons.ejs %>登陆后评论
    <% } %>
  </div>
  <% comments.forEach(function(comment) {%>
    <li class="comment clear">
      <p class="comment-content">
        <%= comment.comment %>
      </p>
      <div class="profile">
        <a href="/user/<%= comment.user.id %>">
          <% if (comment.user && comment.user.profilePic) { %>
            <img src="<%= comment.user.profilePic %>">
          <% }%>
          <% if (comment.user && comment.user.displayName) { %>
            <span><%= comment.user.displayName %></span>
          <% }%>
        </a>
      </div>
    </li>
  <% }) %>
</ul>

