<div class="comment-box clear full-width">
  <div class="header">
    <% include profile.ejs%>
    <a class="submit action-button">
      Submit
    </a>
  </div>
  <textarea class="comment-input" autofocus></textarea>
</div>
