<div id="canvas" src="<%= imageUrl %>" imageId="<%= imageId %>">  
  <!-- canvas to draw pictures --> 
</div>
<script>
  var canvasEl = document.getElementById('canvas');
  var gameBoard = new GameBoard(canvas);
  gameBoard.drawCanvas();
  gameBoard.shuffle(50/* shuffle times */, 500/* initial delay */, 
    function() {
      var inputManager = new KeyboardInputManager();
      inputManager.on('move', function(direction) {
        gameBoard.move(direction);
        if (gameBoard.isGameOver()) {
          gameBoard.showFullImage();
        }
      });
    }
  );
  
</script>

