<style>
  .login-prompt {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 30px 0 30px;  
    background-color: white;  
    border: solid 2px grey;
  }
</style>
<div class="login-prompt hidden">
    <% include login-buttons.ejs %>
</div>
<div id="canvas" src="<%= imageUrl %>" imageId="<%= imageId %>">  
  <!-- canvas to draw pictures --> 
  
</div>
<form id="solved" method="post" action="solved">
  <input id="stepCount" name="step" type="hidden"> </input>
</form>
<script>
  var canvasEl = document.getElementById('canvas');
  var gameBoard = new GameBoard(canvas);
  gameBoard.drawCanvas();
  if (appConfig.showOriginalImage) {
    gameBoard.showFullImage();
  } else {
    gameBoard.shuffle(5/* shuffle times */, 1000/* initial delay */, 
      function() {
        var inputManager = new KeyboardInputManager();
        var steps = 0;
        inputManager.on('move', function(direction) {
          gameBoard.move(direction);
          steps += 1;
          if (gameBoard.isGameOver()) {
            gameBoard.showFullImage();
            if (!appConfig.loggedIn) {
              document.querySelector('.login-prompt').classList.remove('hidden');
            } else {
              document.getElementById('stepCount').value = steps;
              document.getElementById('solved').submit();
            }
          }
        });
      }
    );
  }
  
</script>

