<div id="canvas" src="<%= imageUrl %>" imageId="<%= imageId %>">  
  <!-- canvas to draw pictures --> 
</div>
<script>
  var canvasEl = document.getElementById('canvas');
  var gameBoard = new GameBoard(canvas);
  gameBoard.drawCanvas();
  gameBoard.shuffle(50, 500, function() {
    console.log('Don');
    var inputManager = new KeyboardInputManager();
    inputManager.on('move', gameBoard.move.bind(gameBoard));
  });
  
</script>

