<style>
  .login-prompt {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 30px 0 30px;  
    background-color: white;  
    border: solid 2px grey;
  }
  .canvas-container {
    position: relative;
    text-align: center;
  }
  .counting {
    position: absolute;
    z-index: 2;
    margin: auto;  
    display: block;
  }
  .canvas {
    position: absolute;
  }

</style>
<div class="login-prompt hidden">
    使用<% include login-buttons.ejs %>登陆记下你的战绩
</div>
<div class="canvas-container">
  <img class="counting" src="/img/counting.gif"></img>  
  <div id="canvas" src="<%= imageUrl %>" imageId="<%= imageId %>">  
    <!-- canvas to draw pictures --> 
  </div>
</div>
<form id="solved" method="post" action="solved">
  <input id="stepCount" name="step" type="hidden"> </input>
</form>
<script>
  <% if (showOriginalImage) { %>
    appConfig.showOriginalImage = true;
  <% } else { %>
    appConfig.showOriginalImage = false;
  <% } %>

  var canvasEl = document.getElementById('canvas');
  var gameBoard = new GameBoard(canvas);
  gameBoard.drawCanvas();
  if (appConfig.showOriginalImage) {
    gameBoard.showFullImage();
  } else {
    setTimeout(function() {
    document.querySelector('.counting').classList.add("hidden"); 
    gameBoard.shuffle(3000/* shuffle times */, 0/* initial delay */, 
      function() {
        var inputManager = new KeyboardInputManager();
        var steps = 0;
        inputManager.on('move', function(direction) {
          gameBoard.move(direction);
          steps += 1;
          if (gameBoard.isGameOver()) {
            gameBoard.showFullImage();
            if (!appConfig.loggedIn) {
              document.querySelector('.login-prompt').classList.remove('hidden');
            } else {
              document.getElementById('stepCount').value = steps;
              document.getElementById('solved').submit();
            }
          }
        });
      }
    );
    }, 2600);
    
  }
  
</script>

