<style>
.header {
    color: white;
    position: relative;
    padding-top: 2px;  
    background-color: black;
    height: 30px;
  }
  .header .profile-container {
    float: right;
  }
</style>
<div class="header">
  <% include header-logo.ejs %>
  <div class="profile-container">
    <% include profile.ejs %>
  </div>
</div>

