<style>
  .head-logo {
    margin: 0px 15px;
    position: absolute;
    height: 30px;
    width: 40px;
    color: white;
  }
  .head-logo .pic {
    position: absolute;
    font-size: 25px;
    bottom: 0px;
    left: 0px;
  }
  .head-logo .two {
    position: absolute;
    font-size: 13px;
    top: 0px;
    right: 0px;
  }
  .head-logo a {
    color: white;
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
</style>
<div class="head-logo">
  <a class="pic" href="/">Pic</a>
  <span class="two">2</span>
</div>
