<style>
  .header {
    color: white;
    position: relative;
    padding-top: 2px;  
    background-color: black;
    height: 30px;
  }
  .header .profile-container {
    float: right;
  }
  .notification {
    float: right;
    background-color: red;
    margin: 1px 5px;
    padding: 3px;  
    color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #6e6b6e;
  }
  .notification a {
    color: white;
  }
  .notification.empty {
    display: none;
  }
</style>
<div class="header">
  <% include header-logo.ejs %>
  <% if (user) { %>
    <div class="profile-container">
      <% include profile.ejs %>
    </div>
    <div class="notification <% if (user.notificationCount == 0) { %> empty <% } %>">
      <% if (user) { %>
        <a href="/notification">
          <% if (user.notificationCount) { %>
            <%= user.notificationCount %>
          <% } %>
        </a>
      <% } %>
    </div>
  <% } %>
</div>

