<style>
  .head-logo img {
    margin: 0px 15px;
    position: absolute;
    height: 30px;
  }
  .head-logo a {
    color: white;
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
</style>
<div class="head-logo">
  <a href="/"><img src="/img/logo-diamond-180.png"></a>
</div>
