<style>
  .header {
    color: white;
    position: relative;
    padding-top: 2px;  
    background-color: black;
    height: 30px;
  }
  .header .profile-container {
    float: right;
  }
  .notification {
    float: right;
    background-color: rgba(236, 4, 4, 0.8);
    margin: 1px 5px;
    padding: 3px;  
    color: white;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0.5px solid #6e6b6e;
    width: 25px;
    height: 25px;
    text-align: center;
  }
  .notification a {
    color: white;
  }
  .notification.empty {
    display: none;
  }
  .fa-upload {
    position: absolute;
    left: 65px;
    top: 10px;
  }
</style>
<div class="header">
  <% include header-logo.ejs %>
  <% if (pageName !== 'index') { %>
    <a href="/">
      <i class="fa fa-upload"></i>
    </a>
  <% } %>
  <% if (user) { %>
    <div class="profile-container">
      <% include profile.ejs %>
    </div>
    <div class="notification <% if (user.notificationCount == 0) { %> empty <% } %>">
      <% if (user) { %>
        <a href="/notification">
          <% if (user.notificationCount) { %>
            <%= user.notificationCount %>
          <% } %>
        </a>
      <% } %>
    </div>
  <% } %>
</div>

