<a href="<%=: '/auth/twitter' | attachContinue: currentUrl %>"><i class="fa fa-twitter"></i></a> | 
<a href="<%=: '/auth/facebook' | attachContinue: currentUrl %>"><i class="fa fa-facebook"></i></a> |
<a href="<%=: '/auth/weibo' | attachContinue: currentUrl %>"><i class="fa fa-weibo"></i></a> 
