<style>
  .profile img {
    width: 25px;
    height: 25px;
  }
</style> 

<div class="profile">

  <% if (user) { %> 
    <% if (user.notificationCount) { %>
      <%= user.notificationCount %>
    <% } else { %>
      0
    <% } %>
    <% if (user.profilePic) { %>
      <img src="<%= user.profilePic %>">
    <% }%>
    <span><%= user.displayName %></span>
  <% } %>
</div>

